# dependencies
frontend/node_modules/
node_modules/

# Next.js build
frontend/.next/
.next/

# production
frontend/out/
out/

# misc
.DS_Store
*.pem
Thumbs.db

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env
.env*.local

# IDE
.vscode/
.idea/

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Vercel
.vercel
